.categories{
  display: flex;
  justify-items: right;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  padding: 0px 30px 0px 30px;
  background: linear-gradient(#1C3643,#98a0a8);
}

.isPortfolio{
  display: flex;
  justify-content: center;
  align-items: center;
}

.isSearch{
  background: rgba(255,255,255,0.2);
}
.isCertificate{
  background: #98a0a8;
}
.isContact{
  background:  #1C3643 ;
  /* border-top: 2px solid rgba(0,0,0,0.15); */
}
.categories__title {
    color: white;
    width: 100%;

}

@media only screen and (max-width: 640px)
{
  .categories{
    padding:0px;
    display: flex;
    flex-direction: column;
  }
}